/logs/events.out.tfevents.1648649024.DESKTOP-PKD9DV5
/elastic/train/0.3M.txt
/elastic/val/0.3M_val.txt
/elastic/train/0.5M.txt
/elastic/val/0.5M_val.txt
/elastic/train/1M.txt
/elastic/val/1M_val.txt
/logs/events.out.tfevents.1649669989.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649670037.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671496.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671825.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671847.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671908.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671948.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649671995.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672013.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672327.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672396.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672412.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672455.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672527.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672578.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672741.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672768.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672777.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672801.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672832.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672852.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649672873.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673036.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673039.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673043.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673047.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673063.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673109.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673161.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673166.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673175.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673180.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673185.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673194.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673232.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673251.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673347.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673376.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673394.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673471.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673485.DESKTOP-PKD9DV5
/logs/events.out.tfevents.1649673496.DESKTOP-PKD9DV5
/elastic/inver_dict_1.pth
/elastic/train/total.txt
/elastic/val/total_val.txt
